.InputContainer {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.InputForm {
    padding-bottom: 15px;
    .subtitle {
        margin-bottom: 8px;
    }

    .content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

